---
import MessageIcon from './message-icon.astro';
import AtSingIcon from './at-sing-icon.astro';
import LocationIcon from './location-icon.astro';

interface Props {
    color: 'indigo' | 'teal';
    type: 'message' | 'location' | 'social';
}

const { color, type } = Astro.props;

const style = {
    color
}
---

<div class=`w-12 h-12 flex gap-4 rounded-full bg-${color}-100 dark:bg-${color}-900/20`>
    {
        (type === 'message') &&
            <MessageIcon style={style} />
    }
    {
        (type === 'social') &&
            <AtSingIcon style={style} />
    }
    {
        (type === 'location') &&
            <LocationIcon style={style} />
    }
</div>